{% extends "blog/base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
<p>Tags:
    {% for tag in post.tags.all %}
    <a href="{% url 'posts_by_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>

<h1>{{ object.title|safe }}</h1>
<hr>
<p>{{ object.content|safe }}</p>
<li>{{ object.published_date|date }}</li>
<li>Author {{ object.author.username|safe }}</li>
<a href="{% url 'posts-edit' object.id %}">
    <button>Modifier</button>
</a>
{% endblock %}